   
         
         .middle{
             background-color: bisque;
         } 
         .first{
             background-color: #0099ff;
         }
         .second{
             background-color: #00cccc;
         }
         .thired{
             background-color: #ffbc59;
         }
         .fourth{
             background-color: #333;
         }
         .h3{
             color: white;
         }
         .down{
             text-decoration-color: white;
             text-decoration-color: aliceblue;
         }
         
         .last{
             color:#032f5c;
         }
         .last2{
             background-color: rgba(0,0,0,0.075);
             
         }
        pop {
    position: fixed;
    border-radius: 2px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    opacity: 0;
    right: 50px;
    bottom: 50px;
    z-index: 1030;
    visibility: hidden;
}
      #map-container { height: 200px;width:200px }
     